<nav class="left {{if (eq navGroup "group") "grouped"}}">
  <div class="logo"/>
  <p style="text-align: center">
    {{#if (eq navGroup "group")}}
      <a href="#" {{action "setNavGroup" "none"}}>By Name</a>
      &nbsp;|&nbsp;
      <b>By API Group</b>
    {{else}}
      <b>By Name</b>
      &nbsp;|&nbsp;
      <a href="#" {{action "setNavGroup" "group"}}>By API Group</a>
    {{/if}}
  </p>

  {{#if (eq navGroup "group")}}
    {{#each grouped as |g|}}
      <label>{{display-group g.group}}</label>
      <ul class="list-unstyled">
        {{#each g.resources as |r|}}
          <li>
            {{#if (and r.namespaced namespaces.current) }}
              {{#link-to "group.namespace.resource-list" g.group r.groupVersion namespaces.current r.name activeParent="LI" disabled=(not r.canList)}}
                {{r.kind}}
              {{/link-to}}
            {{else}}
              {{#link-to "group.resource-list" g.group r.groupVersion r.name activeParent="LI" disabled=(not r.canList)}}
                {{r.kind}}
              {{/link-to}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/each}}
  {{else}}
    <ul class="list-unstyled">
      {{#each flat as |r|}}
        <li>
          {{#if (and r.resource.namespaced namespaces.current) }}
            {{#link-to "group.namespace.resource-list" r.resource.group r.resource.groupVersion namespaces.current r.resource.name activeParent="LI" disabled=(not r.canList)}}
              {{r.resource.kind}}
            {{/link-to}}
          {{else}}
            {{#link-to "group.resource-list" r.resource.group r.resource.groupVersion r.resource.name activeParent="LI" disabled=(not r.canList)}}
              {{r.resource.kind}}
            {{/link-to}}
          {{/if}}
          {{#if r.duplicate}}
            <span class="text-muted"> ({{display-group r.resource.group}})</span>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</nav>

<div class="right">
  {{outlet}}
</div>
