<nav class="left {{if (eq navGroup "group") "grouped"}}">
  <div class="logo"/>
  <p style="text-align: center">
    {{#if (eq navGroup "group")}}
      <a href="#" {{action "setNavGroup" "none"}}>By Name</a>
      &nbsp;|&nbsp;
      <b>By API Group</b>
    {{else}}
      <b>By Name</b>
      &nbsp;|&nbsp;
      <a href="#" {{action "setNavGroup" "group"}}>By API Group</a>
    {{/if}}
  </p>

  {{#if (eq navGroup "group")}}
    {{#each grouped as |g|}}
      <label>{{display-group g.group}}</label>
      <ul class="list-unstyled">
        {{#each g.resources as |r|}}
          {{link-to-resource-list resource=r}}
        {{/each}}
      </ul>
    {{/each}}
  {{else}}
    <ul class="list-unstyled">
      {{#each flat as |f|}}
        <li>
          {{#link-to-resource-list resource=f.resource}}
            {{#if f.duplicate}}
              <span class="text-muted"> ({{display-group f.resource.group}})</span>
            {{/if}}
          {{/link-to-resource-list}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</nav>

<div class="right">
  {{outlet}}
</div>
