<header>
  <div class="left">
    <h2 class="api">
      <label>{{t "pageHeader.label.api"}}</label>
      {{resource.group}}/{{resource.groupVersion}}
    </h2>

    <h2>
      <label>{{t "pageHeader.label.namespace"}}</label>
      {{#if overrideNamespace}}
        {{overrideNamespace}}
      {{else if isNamespaced}}
        <select onchange={{action "switchNamespace" value="target.value"}}>
          <option disabled>Select a Namespace...</option>
          <option value="">(All)</option>
          <option disabled>——————————</option>
          {{#each namespaces.all as |ns|}}
            <option value={{ns.metadata.name}} selected={{eq ns.metadata.name namespaces.current}}>{{ns.metadata.name}}</option>
          {{/each}}
        </select>
      {{else}}
        {{t "generic.na"}}
      {{/if}}
    </h2>

    <h2>
      <label>{{t "pageHeader.label.resource"}}</label>
      <a href={{resource.basePath}}>{{resource.kind}}</a>
    </h2>

    {{#if parsed.metadata.name}}
      <h2>
        <label>{{t "pageHeader.label.name"}}</label>
        {{parsed.metadata.name}}
      </h2>
    {{/if}}
  </div>
  <div class="right">
    <button class="btn bg-primary create-btn p-10" disabled={{not resource.canCreate}} {{action "create"}}>Create</button>
  </div>
</header>
{{yield}}
