<table>
  <thead>
    <tr>
      <th>Name</th>
      {{#if showNamespace}}
        <th>Namespace</th>
      {{/if}}
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows as |row|}}
      <tr>
        <td>
          <a href={{row.metadata.selfLink}}>
            {{row.metadata.name}}
          </a>
        </td>
        {{#if showNamespace}}
          <td>
            <a href="#" {{action "switchNamespace" row.metadata.namespace}}>{{row.metadata.namespace}}</a>
          </td>
        {{/if}}
        <td>
          {{row.metadata.creationTimestamp}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
