<header>
  <div class="left">
    <h1>{{model.resource.kind}}</h1>
    <h2>{{model.resource.group}}/{{model.resource.groupVersion}}/{{model.resource.metadata.name}}</h2>
  </div>
  <div class="middle">
    <h2>Namespace</h2>
    {{#if model.resource.namespaced}}
      <select onchange={{action (mut namespaces.current) value="target.value"}}>
        <option disabled>Select a Namespace...</option>
        <option value="">(All)</option>
        <option disabled>——————————</option>
        {{#each namespaces.all as |ns|}}
          <option value={{ns.metadata.name}} selected={{eq ns.metadata.name namespaces.current}}>{{ns.metadata.name}}</option>
        {{/each}}
      </select>
    {{else}}
      <span class="text-muted">(Not namespaced)</span>
    {{/if}}
  </div>
  <div class="right">
    <button class="btn btn-lg" disabled={{not model.resource.canCreate}} {{action "create"}}>Create</button>
  </div>
</header>
<main>
  {{outlet}}
</main>
