<nav class="left {{if (eq navGroup "group") "grouped"}}">
  <a class="logo" href="https://rancher.com"></a>

  {{#if favorites.length}}
    <label><i class="icon icon-star-fill"/> Favorites</label>
    <ul class="list-unstyled">
      {{#each favorites as |r|}}
        {{#link-to-resource-list resource=r as |block|}}
          {{~#if (eq block "after-outside") ~}}
            <i class="icon icon-star-fill remove-favorite" {{action "removeFavorite" r.uniqueName}} />
          {{~/if~}}
        {{/link-to-resource-list}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if (eq navGroup "group")}}
    {{#each grouped as |g|}}
      <label>{{display-group g.group}}</label>
      <ul class="list-unstyled">
        {{#each g.resources as |r|}}
          {{#link-to-resource-list resource=r as |block|}}
            {{~#if (eq block "after-outside") ~}}
              <i class="icon icon-star-open add-favorite" {{action "addFavorite" r.uniqueName}} />
            {{~/if~}}
          {{/link-to-resource-list}}
        {{/each}}
      </ul>
    {{/each}}
  {{else}}
    <ul class="list-unstyled">
      {{#each flat as |f|}}
        {{#link-to-resource-list resource=f.resource as |block|}}
          {{~#if (eq block "after-outside") ~}}
            <i class="icon icon-star-open add-favorite" {{action "addFavorite" r.uniqueName}} />
          {{~else if (and f.duplicate (eq block "after-inside"))~}}
            <span class="text-muted"> ({{display-group f.resource.group}})</span>
          {{~/if~}}
        {{/link-to-resource-list}}
      {{/each}}
    </ul>
  {{/if}}

  <p class="text-center">
    {{#if (eq navGroup "group")}}
      <a href="#" {{action "setNavGroup" "none"}}>By Name</a>
      &nbsp;|&nbsp;
      <b>By API Group</b>
    {{else}}
      <b>By Name</b>
      &nbsp;|&nbsp;
      <a href="#" {{action "setNavGroup" "group"}}>By API Group</a>
    {{/if}}
  </p>
  <p class="text-center">
    {{#if (eq themeSvc.current "dark")}}
      <a href="#" {{action "setTheme" "light"}}>Light</a>
      &nbsp;|&nbsp;
      <b>Dark</b>
    {{else}}
      <b>Light</b>
      &nbsp;|&nbsp;
      <a href="#" {{action "setTheme" "dark"}}>Dark</a>
    {{/if}}
  </p>
</nav>

<div class="right">
  {{outlet}}
</div>
