{{page-header
  resource=resource
  parsed=parsed
  isNamespaced=isNamespaced
  overrideNamespace=overrideNamespace
}}

{{#if errors.length}}
  <section>
    {{#each errors as |error|}}
      <div class="error">{{error}}</div>
    {{/each}}
  </section>
{{/if}}

<main class={{if view 'code-view' 'code-edit'}}>
  {{#input-yaml
    value=editBody
    showUpload=false
    readOnly=view
    codeMirrorOptions=(hash
      lineNumbers=edit
      foldGutter=edit
      gutters=(if edit (array "CodeMirror-lint-markers" "CodeMirror-foldgutter") (array))
    )
  }}
    {{#if view}}
      <button class="btn bg-primary" {{action "reload"}}><i class="icon icon-gear"/> Reload</button>
      <button class="btn bg-primary" {{action "showEdit"}}><i class="icon icon-edit"/> Edit</button>
      <button class="btn bg-link text-error" {{action "delete"}}><i class="icon icon-delete"/> Delete</button>
    {{else}}
      {{action-cancel
        mode=(if create "create" "save")
        action=(action (if create "create" "save"))
        cancel=(action (if create "create" "cancelEdit"))
      }}
    {{/if}}
  {{/input-yaml}}

  {{#unless view}}
    {{action-cancel
      mode=(if create "create" "save")
      action=(action (if create "create" "save"))
      cancel=(action (if create "create" "cancelEdit"))
    }}
  {{/unless}}
</main>

